# 농수산물 관련 API 키 값
KAMIS_CERT_KEY=
KAMIS_CERT_ID=

# 생필품 관련 API 키 값
PRICE_GOKR_SERVICE_KEY=

# Upstage API Key
UPSTAGE_API_KEY=

# Langfuse관련 key 값
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=

# PostgresSQL 관련 값
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=